* {
    font-family: 'montserrat', sans-serif;
}
.navbar-brand, .navbar-brand:hover {
    font-size: 28px;
    font-weight: 800;
    color: #E8505B;
}
.navbar-nav a {
    font-size: 15px;
    font-weight: 600;
    color: #454545;
}
.chart {
    /* margin-left: 800px; */
    position: absolute;
    right: 200px;
}
.chart img {
    width: 24px;   
}
.about {
    position: absolute;
    right : 108px;
}
.account {
    position: absolute;
    right: 20px;
}
.account a img {
    width: 20px;
}
h2 {
    font-weight: 700;
}
.col-md-4 .card {
    border: none;

    margin-bottom: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-4 .card:hover {
    background-color: #E8505B;
}
.col-md-4 .card img {
    width: 40%;
    display: block;
    margin: 20px auto;
    height: 15vw;
    object-fit: contain;
    
}
.col-md-4 .card a:hover {
    text-decoration: none;
    color: #ffffff;
}
.card-body {
    color: #000000;
}
.card-body h4 {
    font-weight: 700;
}
.card-body p {
    font-size: 14px;
    font-weight: 600;
}

.modal-content {
    border: none;
    border-radius: 24px;
    
}
.modal-content .modal-header h3 {
    font-weight: 800;

}
.modal-footer button {
    border-radius: 16px;
}
.modal-footer .add-chart {
    background-color: #E8505B;
    color: #ffffff;
}
.modal-footer .add-chart:hover {
    background-color: rgb(173, 46, 55);
    color: #ffffff;
}
.modal-body .col-md-7 h1 {
    margin-bottom: 35px;
    font-weight: 800;
}
.modal-body .col-md-7 p {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.modal-body .col-md-7 p span {
    font-size: 14px;
    font-weight: 700;

}

.col-md-7 input {
    padding: 5px 8px;

    border: none;
    outline: none;
    font-weight: 600;
    background-color: #ffffff;
}
.col-md-7 button {
    padding: 5px 10px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.col-md-7 button:hover {
    
    background-color: #dadada;
}